<br />
<div class="booyah-box col-10 offset-1 text-center">
  <br />
  <h1>New game:</h1>
  <br />
  <%= simple_form_for @game do |f| %>
    <%= f.input :name, label: false, placeholder: 'Enter Game Here' %>
    <%= f.hidden_field :white_id, value: current_user.id %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
  <% end %>
</div>
