<div id="show_game">
	<div class="chessboard">
	  <!-- 1st Row -->
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <!-- 2nd Row -->
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <!-- 3rd Row -->
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <!-- 4th Row -->
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <!-- 5th Row -->
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <!-- 6th Row -->
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <div class="black"></div>
	  <div class="white"></div>
	  <!-- 7th Row -->
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <!-- 8th Row -->
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	  <div class="black">Piece</div>
	  <div class="white">Piece</div>
	</div>
</div>