<div id="show_game">
	<div class="chessboard">
		<% 8.times do |y| %>
			<div class="row">
				<% 8.times do |x| %>
					<% if y.odd? %>
						<% if x.odd? %>
							<div class="black">
								<% @game.pieces.where(x_pos: x, y_pos: y, type: 'Pawn').each do |piece| %>
									<i class="<%= piece.render %>"></i>
								<% end %>
							</div>
						<% else %>
							<div class="white">
								<% @game.pieces.where(x_pos: x, y_pos: y, type: 'Pawn').each do |piece| %>
									<i class="<%= piece.render %>"></i>
								<% end %>
							</div>
						<% end %>
					<% else %>
						<% if x.odd? %>
							<div class="white">
								<% @game.pieces.where(x_pos: x, y_pos: y, type: 'Pawn').each do |piece| %>
									<i class="<%= piece.render %>"></i>
								<% end %>
							</div>
						<% else %>
							<div class="black">
								<% @game.pieces.where(x_pos: x, y_pos: y, type: 'Pawn').each do |piece| %>
									<i class="<%= piece.render %>"></i>
								<% end %>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>