<div id="show_game">
	<div class="chessboard">
		<% (1..8).each do |y| %>
			<div class="row">
				<% (1..8).each do |x| %>
					<div class="<%= (x + y).even? ? 'black' : 'white' %> space">
						<% @game.pieces.where(x_pos: x, y_pos: y).each do |piece| %>
							<% if piece.player_id == @game.white_id %>
								<span class="<%= piece.render %> white piece"></span>
							<% else %>
								<span class="<%= piece.render %> red piece"></span>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>