<div class="hero align-middle">
<br /><br />
  <div class="hero-text mr-auto ml-auto col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
    <h1>
    <br />
      <% if current_user.present? %>
        Welcome <%= current_user.username %>.
      <% else %>
        Welcome to <span class="cwm">Chess <h3 style="display:inline;">with</h3> Mates.</span>
      <% end %>
    </h1>
    <br />
    <h1>
        Are you up for the challenge?
    </h1>
    <br />
      <%= link_to 'Join Game', games_path, class: 'btn btn-lg btn-primary mr-1' %>
      <%= link_to 'New Game', new_game_path, class: 'btn btn-lg btn-primary ml-2' %>
    <br /><br />
  </div>
  <br /><br />
</div>
<div class="clear"></div>
