  <div class="hero-text">
    <br /><br /><br />
    <h1>
      <% if current_user.present? %>
        Welcome <%= current_user.username %>.
      <% else %>
        Welcome to Chess with Mates.
      <% end %>
    </h1>
    <br />
    <h1>
      <strong>
        Are you up for the challenge?
      </strong>
    </h1>
    <br />
      <%= link_to 'Find a Game', games_path, class: 'btn btn-lg btn-primary' %>
      <br /><br />
      <%= link_to 'Create a Game', new_game_path, class: 'btn btn-lg btn-primary' %>
  </div>
