<h1 class="landing-header">ChessApp Landing Page</h1>
<br />
<h3 class="landing-welcome">Welcome to ChessApp!</h3>
<br />
<br />

<div class="landing-btn">
  <button>Sign In</button>
  <br />
  <br />
  <button>Sign Up</button>
</div>