
<div class="hero-image">
  <div class="hero-text">
    <h1 class="hero-header">Where the Pros come to Play!</h1>
    <br />
    <h3 class="hero-welcome">Welcome 
      <% if current_user.present? %>
        <%= current_user.email %>
      <% end %>
     to ChessApp!</h3>
    <br />
  </div>
</div>