#show_game {
	background-image: url('game_bg.png');
	padding: 50px;
}

.chessboard {
	width: 642px;
	height: 640px;
	background-image: url("white_space.png");
	border: 1px solid #000;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.space {
	float: left;
	width: 80px;
	height: 80px;
	font-size: 12px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.black {
	background-image: url("black_space.png");
}


.gamehome-header {
	text-align: center;
}

.available {
	text-align: center;
}

.white {
	background: image_url('wp.png');
}

.red {
	background: image_url('bp.jpg');
	background-size: fill;
}

.piece {
	font-size: 50px;
	margin-top: 10px;
	color: red;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}