#gamestats {
	text-align: center;
}

#game_name,
#game_wp,
#game_bp,
#game_turn,
#game_quit {
	display: inline-block;
}

#show_game {
	background-image: url('game_bg.png');
	padding: 50px;
	padding-top: 0px;
}

.chessboard {
	width: 642px;
	height: 640px;
	background-image: url("white_space.png");
	border: 1px solid #000;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.space {
	float: left;
	width: 80px;
	height: 80px;
	font-size: 12px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-bottom: solid;
  border-width: thin;
}

.space-hover {
	box-shadow: 0px 0px 8px yellow;
}

.black {
	background-image: url("black_space.png");
}

.gamehome-header {
	text-align: center;
}

.available {
	text-align: center;
}

.white {
	background: white;
}

.red {
	background: darkred;
	background-size: fill;
}

.piece {
	font-size: 50px;
	margin-top: 10px;
	color: darkred;
	text-shadow: 2px 8px 6px rgba(19, 7, 7, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.game_labels {
	display: inline;
	text-shadow: 1px 0.5px 1px black;
	letter-spacing: 0.5px;
	font-size: 18px;
	margin-right: 10px;
}

.game_title {
	display: inline;
	letter-spacing: 0.5px;
	font-size: 26px;
	margin-right: 10px;
}

.game_bar {
	padding: 15px;
	background-image: linear-gradient(rgba(84, 0, 0, 0.8), rgba(84, 0, 0, 0.8));
	color: whitesmoke;
	box-shadow: 0px 1px 1px black;
	font-family: 'Josefin Sans', sans-serif;
}

.turn {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	text-shadow: 0px 1px 1px darkgrey;
}

.forfeit {
	text-shadow: none !important;
}