@import "bootstrap";
@import 'font_awesome5_webfont';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Lobster&display=swap');

.body {
	margin-bottom: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar {
	background: image_url('nav_bg.png');
	box-shadow: -2px 0.5px 5px grey;
}

.navbar a {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
	font-weight: bold;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	padding: 10px;
}

.title {
	font-size: 25px;
	display: inline;
	font-family: 'Lobster', cursive;
	color: darkred;
	text-shadow: 1px 0.5px 0.5px lightgray;
}

.logo {
	text-shadow: 1px 0.5px 0.5px lightgray;
	padding-bottom: 10px;
}

.with {
	margin-left: -2px;
	margin-right: -3px;
}

.btn-primary {
	background-color: whitesmoke;
	color: black;
	border-color: black;
	text-shadow: 0;
	border-radius: 0;
}

.btn:hover {
	opacity: 50%;
	background-color: white;
	border-color: black;
	color: black;
}

.clear {
	clear: both;
}

.alert {
	margin: 0;
}