// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,
html {
	height: 100%;
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero_2.jpg");
	min-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
}

.hero-text h1 {
	text-shadow: 1px 1px 1px black;
	font-weight: 300;
}

.hero-text {
	background: rgba(0,0,0,0.7);
	min-height: 300px;
}

.cwm {
	font-family: 'Lobster', cursive;
}
